{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>


    <title>{% block title %}Evans Osore{% endblock %}</title>

</head>
<body>
<header>
    <a href="#" class="logo">Evans osore.</a>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Makunga Isongo Malaha Ward
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Events</a></li>
                    <li><a class="dropdown-item" href="#">News</a></li>
                    <li><a class="dropdown-item" href="#">Issues</a></li>
                </ul>
            </li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#pledge">My Pledge</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <button class="nav_btn"><a href="#">Donate</a></button>
</header>

<main>
    {% block content %}
        <section id="home">
            <div class="hero_img">
                <div class="hero_content active">
                    <h1 class="hero_title">The voice of the people</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        A delectus molestias nulla quas quasi. Impedit odio perspiciatis quas recusandae.
                        Alias animi assumenda beatae consectetur error
                        eveniet explicabo molestias possimus saepe.
                    </p>
                </div>

{#                <div class="carousel_box">#}
{#                    <div class="carrousel">#}
{#                        <div class="carousel_item">#}
{#                            <img src="{% static 'images/cr1.png' %}" alt="">#}
{#                        </div>#}
{#                        <div class="carousel_item">#}
{#                            <img src="{% static 'images/cr1.png' %}" alt="">#}
{#                        </div>#}
{#                        <div class="carousel_item">#}
{#                            <img src="{% static 'images/cr1.png' %}" alt="">#}
{#                        </div>#}
{#                        <div class="carousel_item">#}
{#                            <img src="{% static 'images/cr1.png' %}" alt="">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                
                
                
                <ul class="sci">
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                    </ul>

            </div>
        </section>
        
        <section id="gallery">
            <h3>Gallery</h3>
            <div class="gallery">
                <!-- Educational Pics -->
                <h4>Educational</h4>
                {% for pic in educational_pics %}
                    <div class="gallery-item">
                        <img src="{{ pic.image.url }}" alt="{{ pic.title }}">
                        <p>{{ pic.title }}</p>
                    </div>
                {% endfor %}
                <!-- Development Pics -->
                <h4>Development</h4>
                {% for pic in development_pics %}
                    <div class="gallery-item">
                        <img src="{{ pic.image.url }}" alt="{{ pic.title }}">
                        <p>{{ pic.title }}</p>
                    </div>
                {% endfor %}
                <!-- Economic Pics -->
                <h4>Economic</h4>
                {% for pic in economic_pics %}
                    <div class="gallery-item">
                        <img src="{{ pic.image.url }}" alt="{{ pic.title }}">
                        <p>{{ pic.title }}</p>
                    </div>
                {% endfor %}
                <!-- Meetings Pics -->
                <h4>Meetings</h4>
                {% for pic in meetings_pics %}
                    <div class="gallery-item">
                        <img src="{{ pic.image.url }}" alt="{{ pic.title }}">
                        <p>{{ pic.title }}</p>
                    </div>
                {% endfor %}
                <!-- Event Pics -->
                <h4>Events</h4>
                {% for pic in events_pics %}
                    <div class="gallery-item">
                        <img src="{{ pic.image.url }}" alt="{{ pic.title }}">
                        <p>{{ pic.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section id="news">
            <h3>Latest News</h3>
            {% for news in latest_news %}
                <div class="news-item">
                    <h4>{{ news.title }}</h4>
                    <p>{{ news.content|truncatewords:20 }}</p>
                    <a href="{% url 'news_detail' news.id %}">Read More</a>
                </div>
            {% endfor %}
        </section>

        <section id="issues">
            <h3>Issues</h3>
            {% for issue in issues %}
                <div class="issue-item">
                    <h4>{{ issue.title }}</h4>
                    <p>{{ issue.content|truncatewords:20 }}</p>
                    <a href="{% url 'issue_detail' issue.id %}">Read More</a>
                </div>
            {% endfor %}
        </section>

        <section id="events">
            <h3>Upcoming Events</h3>
            {% for event in upcoming_events %}
                <div class="event-item">
                    <h4>{{ event.title }}</h4>
                    <p>{{ event.description }}</p>
                    <p>Date: {{ event.date }}</p>
                </div>
            {% endfor %}
        </section>
    {% endblock %}
</main>

<footer>
    <p>&copy; 2025 Evans Osore Campaign</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../gallery/assets/js/script.js"></script>

<script>
    $(document).ready(function(){
    $('.carousel').carousel();
  })
</script>
</body>
</html>
